<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Amazon Book Review Machine Learning</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Kindle Book Review Sentiment Analysis</h1>
      <p>This application translates book text review and determine if the reviewer find the book to be Positive or Negative using Natural Language processing tool.</p>
      <p>To use this application, paste the text review in the box and click submit. The outcome will shown either as Positive review or Negative review. </p>
      <br>
      <form>
        <label for="fname">Place your text review here!:</label><br>
        <textarea id="txtreview" name="txtreview" rows="10" cols="80"></textarea><br>
        
        <br>
        <input type="submit" value="Submit">
      </form>
      <br>
      <h2>The reviewer find this book to be : {{valueholder}}</h2>

    </div>
    <h2></h2>
    <h3></h3>
    <h3></h3>
  </div>
  </div>
</body>

</html>
